.form {
    padding-bottom: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    max-width: 60%;
    width: 500px;
    display: block;
    font-size: 22px;
    color: rgba(200, 241, 19, 0.61);
    float: left;
}

@media (max-width:767px) {
    .form {
        width: 400px;
        max-width: 100%;
        font-size: 20px;
    }
}

li {
    list-style: none;
}

.form__text1 {
    font-size: 12px;
}

.form__labelText {
    display: inline-block;
    width: 100%;
    max-width: 150px;
    margin-right: 5px;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 100px;
    border-radius: 5px;
}

.form__button {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: none;
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: hsla(180, 100%, 25%, 0.76);
}

.form__button:active {
    background-color: hsla(182, 60%, 17%, 0.568);
}

.form__legend {
    background-color: rgba(137, 95, 177, 0.363);
    border: 2px solid;
    color: white;
    padding: 10px;
    border-radius: 5px;
}